<div class="container-fluid">
  <div class="row">
    <div class="col-6 grey">t</div>
    <div class="col-6 yellow">
      <div>
        <% @posts.each do |post| %>
          <%= post.post %>
          <%= post.user.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>