<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-8">
      <br>

      <br>
      <% if @tweet.errors.any? %>
        <% @tweet.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= form_with model: @tweet do |f| %>
        <div class="d-flex justify-content-between mb-1">
          <h5 class="font-weight-bold">投稿フォーム</h5>
          <%= f.submit '投稿', "data-confirm" => "投稿は一度投稿したら削除できません。\r\n本当に投稿しますか？", class: "btn btn-success" %>
        </div>
        <%= f.text_area :tweet, rows:'10', class: "form-control" %>
      <% end %>
    </div>
  </div>
</div>