<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-md-8 col-sm 12">
      <br>

      <br>
     <%= render 'layouts/errors', obj: @tweet %>

      <%= form_with model: @tweet, do |f| %>
        <div class="d-flex justify-content-between mb-1">
          <h5 class="font-weight-bold">投稿フォーム</h5>
          <%= f.submit '投稿', "data-confirm" => "投稿は一度投稿したら削除できません。\r\n本当に投稿しますか？", class: "btn btn-success" %>
        </div>
        <%= f.text_area :tweet, rows:'10', class: "form-control" %>
      <% end %>
      <div class="text-secondary text-end">140字以内</div>
      <div class="mt-2 p-3 border border-danger rounded text-dark warning-text bg-light">
        <h3 class="text-danger warning-title">※必ずご確認ください</h3>
        Cicadaで投稿される場合はここに記載した条件に準拠いただくものとします。<br>
        また、当サイトをご利用いただいた時点で、以下利用条件の全てに同意頂いたものとさせて頂きます。<br>
        <br>
        <li class="navbar-nav text-indent warning-line">
          1.ご利用者は、投稿する記事が以下の内容に該当しないよう、ご自身の責任のもと記事の投稿を行ってください。
          <ul class="navbar-nav text-indent">
            <li>(1)違法または公序良俗に反するなど社会通念上ふさわしくない内容の記事</li>
            <li>(2)名誉毀損、誹謗中傷、プライバシー侵害、営業妨害につながる内容の記事</li>
            <li>(3)中傷、いやがらせ、わいせつなど、他の利用者に不快感を与える記事</li>
            <li>(4)著作権、肖像権等他人の権利を侵害する記事</li>
            <li>(5)投稿者以外の者の個人情報が含まれる記事</li>
            <li>(6)当サイトの趣旨に合わないと思われる記事</li>
          </ul>
        </li>
        <li class="navbar-nav text-indent warning-line">
          2.ご利用者の投稿した記事が前項の各項目に該当した場合や、
          当サイトの運営会社が当サイトにふさわしくないと判断した場合は、
          ご利用者への断りなく記事を削除させていただきます。
          場合によってはアカウント停止処置の可能性もありますのでご注意ください。
        </li>
      </div>
    </div>
  </div>
</div>