<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12 position-relative"id="tall">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 max-window" id="about_menu" style="height: 1000px;">
      <div class="mt-3 mb-3 d-flex justify-content-center">
        <h3>Cicadaは、あなたのSNSライフをサポートします！</h3>
      </div>
      <p class="text-center mb-5 font-italic font-about">
        Cicadaは投稿の数を制限したSNSです！<br>
        投稿できる数は七回、一日に一回です。<br>
        あなたは、どんな投稿をしますか？<br>
      </p>
      <div class="d-flex align-content-start flex-wrap" style="height: 400px">
        <div class="col-4 h-50 card text-white bg-info d-flex justify-content-center align-items-center">
          <div class="text-center font-about">こんな投稿があります</div>
        </div>
        <% @tweets.each do |tweet| %>
          <div class="card text-dark border-info col-4 h-50 text-center d-flex justify-content-center align-items-center font-about break-all">
            <div class-"text-center"><%= tweet.tweet.truncate(30) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>