<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="image-box"></div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-around">
        <div>
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success" %>
        </div>
        <div>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </div>
</div>