<div class="container-fluid">
  <div class="row parent">
    <div class="col-md-6 col-xs-12 position-relative child" id="tall">
      <div class="position-absolute z-index-9999 w-100 h-100">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
          <h1>Hoge</h1>
          <p>Fuga</p>
        </div>
      </div>
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12" style="height:1000px">
      <div class="z-index-9999 w-100 h-100 child">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100 vert">
          <h1>Hoge</h1>
          <p>Fuga</p>
        </div>
      </div>
      <div class="letter w-100 h-100">
        <div class="w-100 h-90 d-flex align-items-end justify-content-end justify-content-around">
          <div class="w-50"></div>
          <div class="w-50 d-flex justify-content-around">
            <div>
              <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success" %>
            </div>
            <div>
              <%= link_to 'ログイン', new_user_session_path, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>