/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .red {
   background-color: red;
 }

 .blue {
   background-color: blue;
 }

 .grey {
   background-color: grey;
 }

 .yellow {
   background-color: yellow;
 }

 .pink {
   background-color: pink;
 }

 .brown {
   background-color: brown;
 }

.vert {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.parent {
  position: relative;
  width: 100%;
}

.parent:before {
  content: "";
  display: block;
  padding-top: 67%;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.code-box {
  width: 50px;
  height: 70px;
  margin-right: 4px;
  background-color: white;
  border: 1px solid red;
}

.code-box:nth-child(3) {
  margin-right: 0;
}

.code-box:nth-child(n+4) {
  border: 1px solid pink;
}


.line {
  color: red;
  margin-top: 10px;
}

.name-font {
  font-family: "serif", "YuGothic";
}

.between {
  height: 50%;
}

.spbtn {
  height: 50px;
  width: 30%;
  color: white;
  background-color: pink;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  font-size: 20px;
  font-family: "serif";
}

.spbtn:hover {
  text-decoration: none;
}


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh; /*フッターを最下部へ*/
}

main {
  flex: 1;
}

.image-box {
  background-image: image-url('mqdefault.jpg');
  height: 800px;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover; /*トリミング*/
  margin: 10px;
}

.flex {
  display: flex;
  margin: 0 0 10px auto;
  width: 70%;
}

.user-name {
  margin-top: 5px;
  font-weight: bold;
}

.edit-page {
  margin: 20px;
}

.edit-btn {
  margin-top: 10px;
  text-align: right;
}

