/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .red {
   background-color: red;
 }

 .blue {
   background-color: blue;
 }

 .grey {
   background-color: grey;
 }

 .yellow {
   background-color: yellow;
 }

 .pink {
   background-color: pink;
 }

 .brown {
   background-color: brown;
 }

 .logo-image {
  background-image: image-url('logo.png');
  width: 60px;
  height: 65px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
 }

.vert {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.parent {
  position: relative;
  width: 100%;
}

.parent:before {
  content: "";
  display: block;
  padding-top: 67%;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// .code-box {
//   width: 70%;
//   height: auto;
//   margin-right: 4px;
//   background-color: white;
//   border: 1px solid red;
// }

// .code-box:nth-child(3) {
//   margin-right: 0;
// }

// .code-box:nth-child(n+4) {
//   border: 1px solid pink;
// }


.line {
  color: red;
  margin-top: 10px;
}

.name-font {
  font-family: "serif", "YuGothic";
}

// .post-head {
//   height: 30%;
// }

// .post-head-child {
//   position: absolute;
//   top: 5%;
// }

// .block {
//   height: 70%;
//   position: relative;
// }

// .under {
//   position: absolute;
//   bottom: 1%;
// }
// .name-block {
//   position: absolute;
//   bottom: 20%;
// }

// .edit-block {
//   position: absolute;
//   bottom: 5%;
//   right: 40%;
// }

// .spbtn {
//   height: 50px;
//   width: 30%;
//   color: white;
//   background-color: pink;
//   text-align: center;
//   padding: 10px 0;
//   border-radius: 6px;
//   font-size: 20px;
//   font-family: "serif";
// }

// .spbtn:hover {
//   text-decoration: none;
// }


body {
  display: flex;
  flex-flow: column;
  min-height: 100vh; /*フッターを最下部へ*/
}

main {
  flex: 1;
}


.img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover; /*トリミング*/
  margin: 10px;
}

// .flex {
//   display: flex;
//   margin: 0 0 10px auto;
//   width: 70%;
// }

.user-name {
  margin-top: 5px;
  font-weight: bold;
}

.edit-page {
  margin: 20px;
}

.edit-btn {
  margin-top: 10px;
  text-align: right;
}

.inquiry-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.inquiry-page {
  margin: 10px;
  font-weight: bold;
}

.break-word {
  word-break: break-all;
}

.img-size {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom center;
  object-fit: cover;
}

.image1 {
  background-image: url(sunday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image2 {
  background-image: url(monday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image3 {
  background-image: url(tuesday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image4 {
  background-image: url(wednesday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image5 {
  background-image: url(thursday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image6 {
  background-image: url(Friday.jpg);
  // height: 800px;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

.image7 {
  background-image: url(saturday.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: top center;
}

#tall {
  height: 900px;
  padding: 0;
}


// フェードアップする
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transfrom: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.change-time:nth-child(1) {
  animation-duration: 0.5s;
}

.change-time:nth-child(2) {
  animation-duration: 1s;
}

.change-time:nth-child(3) {
  animation-duration: 1.5s;
}

.change-time:nth-child(4) {
  animation-duration: 2s;
}

.change-time:nth-child(5) {
  animation-duration: 2.5s;
}

.change-time:nth-child(6) {
  animation-duration: 3s;
}

.change-time:nth-child(7) {
  animation-duration: 3.5s;
}

.change-time:nth-child(8) {
  animation-duration: 4s;
}

.change-time:nth-child(9) {
  animation-duration: 4.5s;
}

.change-time:nth-child(10) {
  animation-duration: 5s;
}

// ここまで。

.z-index-9998 {
  z-index: 9998;
}

.z-index-9999 {
  z-index: 9999;
}

// .letter {
//   background-image: url(letter2.jpg);
// //  height: 1000px;
//   width: 100%;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: top center;
// }



.w-40 {
  width: 40%;
}

.h-32 {
  height: 32%;
}

.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}

.h-80 {
  height: 80%;
}

.rank-color:nth-child(1) {
  background-color: #e6b422;
}

.rank-color:nth-child(2) {
  background-color: #c0c0c0;
}

.rank-color:nth-child(3) {
  background-color: #b87333;
}

.rank-color:nth-child(n+4) {
  background-color: #797979;
}

.rainbow:nth-child(1) {
  background-color: #e60012;
}

.rainbow:nth-child(2) {
  background-color: #f39800;
}

.rainbow:nth-child(3) {
  background-color: #fff100;
}

.rainbow:nth-child(4) {
  background-color: #009944;
}

.rainbow:nth-child(5) {
  background-color: #0068b7;
}

.rainbow:nth-child(6) {
  background-color: #1d2088;
}

.rainbow:nth-child(7) {
  background-color: #920783;
}

// .logo-about {
//   background-image: image-url('logo.png');
//   width: 20%;
//   height: 40px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: top center;
// }


// .post-letter {
//   padding: 2%;
// }

.box {
  border: solid 10px #333132;
  border-radius: 10px;
  background-color: #FFFEF6;
}

.box-stamp {
  height: 36%;
  width: 22%;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 10px #333132;
  border-radius: 10px;
}

.box-code {
  // border: solid 10px #6091d3;
  margin-right: 6%;
  margin-left: auto;
  margin-top: 6%;
  height: 24%;
  width: 66%;
}

.code-box {
  margin-left: 1%;
  border: solid 7px #0D0116;
  width: 17%;
  height: 80%;
  margin-top: 2%;
  border-radius: 10px;
}

.code-box:nth-child(n+4) {
  margin-top: 4%;
  width: 12%;
  height: 70%;
}

.box-code-min {
  // border: solid 10px #6091d3;
  margin-top: auto;
  margin-bottom: 10%;
  margin-left: 10%;
  height: 16%;
  width: 72%;
}

.up-btn {
  padding-bottom: 10%;
}

.w-35 {
  width: 35%;
}

.w-60 {
  width: 60%;
}

.code-min {
  border: solid 4px #231F20;
  height: 80%;
  width: 13%;
  margin-right: 1%;
  margin-top: 2%;
  border-radius: 10px;
}

.code-min:nth-child(4) {
  margin-left: 2%;
}

.font-mode {
  // font-size: calc(0.125rem + ((1vw - 3px) * 1.1667));
  font-size: calc(1.125rem + ((1vw - 7.68px) * 3.6458));
}

.font-mode-name {
  font-size: calc(0.125rem + ((1vw - 3px) * 1.1667));
}

.font-mode-title {
  font-size: vw(32);
}

.code-color1 {
  background-color: #e60012;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color2 {
  background-color: #f39800;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color3 {
  background-color: #fff100;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color4 {
  background-color: #009944;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color5 {
  background-color: #0068b7;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color6 {
  background-color: #1d2088;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.code-color7 {
  background-color: #920783;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.line-color:nth-child(odd) {
  background-color: #E6E7E8;
}

.line-color:nth-child(even) {
  background-color: #FFFFFF;
}

.rank-title {
  background-color: #FFFFEE;
  opacity: 0.5;
}

.hyer {
  height: 900px;
}

.wide-padding {
  padding: 0;
  height: 900px;
}

.letter-between {
  padding: 0;
}

.max-window {
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.max-window-row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.posi {
  bottom: 5%;
  right: 2%;
}

.break-all {
  word-break: break-all;
}

.btn--green,
a.btn--green {
  color: #fff;
  background-color: #3eb370;
  height: 50px;
  padding: 10px;
}

.btn--green:hover,
a.btn--green:hover {
  color: #fff;
  background: #123320;
}

.btn--yellow,
a.btn--yellow {
  color: #000;
  background-color: #fff20a;
  height: 50px;
  padding: 10px;
}

.btn--yellow:hover,
a.btn--yellow:hover {
  color: #000;
  background: #b3b33e;
}

@media screen and (max-width: 767px) {
  .hyer {
    height: 540px;
  }

  .order-top {
    order: 1;
  }

  .order-bottom {
    order: 2;
  }

  #tall {
    width: 100%;
    height: 540px;
  }
}

@media screen and (max-width: 576px) {
  .hyer {
    height: 380px;
  }

  #tall {
    height: 300px;
  }

  .font-size-title {
    font-size: 30px;
  }

  .font-about {
    font-size: 10px;
  }
}

@media screen and (max-width: 448px) {
  .btn--green,
  a.btn--green {
    height: 30px;
    padding: 2px;
  }

  .btn--yellow,
  a.btn--yellow {
    height: 30px;
    padding: 2px;
  }


}