<footer class="head-color text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h6 class="text-dark text-center">お問い合わせは</h6>
        <ul class="p-0 list-unstyled">
          <li class="text-center">
            <i class="fab fa-telegram"></i>
            <%= link_to 'コチラ', new_contact_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>