<% if user_signed_in? %>
  <header>
    <div>
      <%= link_to 'Cicada', root_path %>
        <ul class="flex">
          <li><%= link_to 'マイページ', user_path(current_user) %></li>
          <li><%= link_to 'ランキング', posts_path %></li>
          <li><%= link_to '投稿', new_post_path %></li>
        </ul>
    </div>
  </header>
<% elsif admin_signed_in? %>
  <header>
    <div>管理者ページ</div>
  </header>
<% else %>
  <header>
    <div>生きてるだけで</div>
  </header>
<% end %>